#sidebar
  = image_tag "distro-sidebar.png", class: "distro-logo"
  %a.sidebar-link{ href: "#" } ALL
  %a.sidebar-link{ href: "#" } VINYL
  %a.sidebar-link{ href: "#" } CD-s
  %a.sidebar-link{ href: "#" } TAPES
  %a.sidebar-link{ href: "#" } T-SHIRTS
  %a.sidebar-link{ href: "#" } ZINES
  %a.sidebar-link{ href: "#" } SPECIAL OFFERS
  = image_tag "latest-releases-sidebar.png", class: "releases-logo"
