.container
  = render 'shared/sidebar'
  .media-container
    <iframe width="640" height="480" src="//www.youtube.com/embed/9OznIrglXXM" frameborder="0" allowfullscreen></iframe>
    <iframe width="640" height="480" src="//www.youtube.com/embed/msCCWvKXMVo" frameborder="0" allowfullscreen></iframe>
    <iframe width="640" height="480" src="//www.youtube.com/embed/JvZdLS7XkXM" frameborder="0" allowfullscreen></iframe>
