@font-face {
  font-family: 'kt-typewriter';
  src: font-url('/assets/kingthing_trypewriter_2.ttf') format('truetype');
}

h1 {
  font-family: 'kt-typewriter', sans-serif;
  width: 724px;
  display: block;
  text-align: center;
}

body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url('/assets/background.png') no-repeat top left #000;
  background-size: 100%;
  color: white;
}

#sidebar {
  background: url('/assets/sidebar-bg.png') repeat-y top;
  position: absolute;
  display: inline-block;
  width: 236px;
  min-height: 100%;
  right: 0;
}

header {
  height: 144px;
  position: relative;
}

header, footer, .container {
  margin: 0 auto;
  width: 960px;
}

footer {
  height: 110px;
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -110px;
}

.clear-footer {
  height: 110px;
  clear: both;
}

#banner {
  display: block;
  font-size: 0;
}

.container {
  overflow: auto;
  position: relative;
  height: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  padding-bottom: -110px;
}

#shopping-cart-link {
  position: absolute;
  height: 25px;
  right: 82px;
  bottom: 10px;
}

#banner-nav {
  position: absolute;
  display: block;
  z-index: 1;
  width: 348px;
  height: 25px;
  bottom: 10px;
}

#banner-nav img {
  display: block;
  z-index: 1;
}

.nav-link {
  position: absolute;
  display: inline-block;
  z-index: 100;
}

.news {
  top: 4px;
  left: 5px;
  width: 38px;
  height: 17px;
  &:hover, &:active, &.active{
    background: url('/assets/news-active.png') no-repeat;
  }
}

.releases {
  width: 70px;
  height: 18px;
  top: 4px;
  left: 53px;
  &:hover, &:active, &.active {
    background: url('/assets/release-active.png') no-repeat;
  }
}

.bands {
  width: 104px;
  height: 18px;
  top: 4px;
  left: 129px;
  &:hover, &:active, &.active{
    background: url('/assets/bands-active.png') no-repeat;
  }
}

.media {
  width: 52px;
  height: 17px;
  top: 4px;
  left: 233px;
  &:hover, &:active, &.active {
    background: url('/assets/media-active.png') no-repeat;
  }
}

.shop {
  width: 43px;
  height: 17px;
  top: 3px;
  left: 280px;
  &:active, &.active {
    width: 75px;
    background: url('/assets/shop-active.png') no-repeat;
  }
}

.shop-dropdown:hover {
  position: absolute;
  background: url('/assets/shop-active.png') no-repeat;
  height: 137px;
  width: 75px;
  top: 3px;
  left: 280px;
}


.distro-logo {
  display: block;
  margin-left: 80px;
  margin-top: 30px;
}

.releases-logo {
  display: block;
  margin-left: 60px;
  margin-top: 30px;
}

.sidebar-link {
  font-size: 14px;
  display: block;
  color: #000;
  font-family: 'kt-typewriter', sans-serif;
  text-align: center;
  margin: 15px 0 15px 35px;
  &:link {
    text-decoration: none;
  }
  &:active, &:hover {
    background: url('/assets/select-cross.png') no-repeat center;
  }
}

.mailto-description {
  position: absolute;
  margin: 0 auto;
  left: 295px;
  top: 23px;
}

.mailto-email {
  position: absolute;
  left: 374px;
  top: 50px;
}

#footer-links {
  position: absolute;
  right: 20px;
  top: 38px;
}

.banner-link {
  display: inline-block;
  height: 42px;
  margin: -1px;
  img {
    vertical-align: middle;
  }
}
