/* preload images */

$price: #BB9C70;

body:after {
  display: none;
  content: url('/assets/select-cross.png') url('/assets/shop-active.png')
  url('/assets/media-active.png') url('/assets/bands-active.png')
  url('/assets/release-active.png') url('/assets/news-active.png')
  url('/assets/background.png') url('/assets/sidebar-bg.png')
  url('/assets/lastfm-hover') url('/assets/yt-hover.png')
  url('/assets/fb-hover.png') url('/assets/bc-hover.png');
}

@font-face {
  font-family: 'kt-typewriter';
  src: font-url('/assets/kingthing_trypewriter_2.ttf') format('truetype');
}

h1 {
  font-family: 'kt-typewriter', sans-serif;
  width: 724px;
  display: block;
  text-align: center;
}

body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url('/assets/background.png') no-repeat top left #000;
  background-size: 100%;
  color: white;
}

p {
  margin-bottom: 15px;
}


#sidebar {
  background: url('/assets/sidebar-bg.png') repeat-y top;
  position: absolute;
  display: inline-block;
  width: 236px;
  min-height: 100%;
  right: 0;
}

header, footer, .container {
  margin: 0 auto;
  width: 960px;
}

footer {
  height: 110px;
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -110px;
}

.clear-footer {
  height: 110px;
  clear: both;
}

.container {
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  padding-bottom: 30px;
}

.highlighted {
  font-family: 'kt-typewriter', sans-serif;
  background: white;
  color: black;
  height: 21px;
  line-height: 21px;
}



.sidebar-link {
  font-size: 14px;
  display: block;
  color: #000;
  font-family: 'kt-typewriter', sans-serif;
  text-align: center;
  margin: 15px 0 15px 35px;
  &:link {
    text-decoration: none;
  }
  &:active, &:hover {
    background: url('/assets/select-cross.png') no-repeat center;
  }
}

.mailto-description {
  position: absolute;
  margin: 0 auto;
  left: 295px;
  top: 23px;
}

.mailto-email {
  position: absolute;
  left: 374px;
  top: 50px;
}

#footer-links {
  background: url('/assets/footer-links-bg.png') no-repeat;
  position: absolute;
  right: 20px;
  top: 27px;
  width: 151px;
  height: 49px;
}

.banner-link {
  display: inline-block;
  img {
    vertical-align: middle;
  }
}

.lastfm {
  position: absolute;
  height: 25px;
  width: 34px;
  left: 6px;
  top: 13px;
  &:hover {
    background: url('/assets/lastfm-hover.png') no-repeat;
    > img {
      display: none;
    }
  }
}

.youtube {
  position: absolute;
  width: 46px;
  height: 38px;
  left: 40px;
  top: 6px;
  &:hover {
    background: url('/assets/yt-hover.png') no-repeat;
    > img {
      display: none;
    }
  }
}

.facebook {
  position: absolute;
  width: 20px;
  height: 31px;
  left: 87px;
  top: 12px;
  &:hover {
    background: url('/assets/fb-hover.png') no-repeat;
    > img {
      display: none;
    }
  }
}

.bandcamp {
  position: absolute;
  width: 33px;
  height: 29px;
  left: 109px;
  top: 13px;
  &:hover {
    background: url('/assets/bc-hover.png') no-repeat;
    > img {
      display: none;
    }
  }
}
