#news {
  display: inline-block;
  width: 724px;
  padding: 20px;
  * {
    display: inline-block;
  }
}

#news-index {
  line-height: 15px;
  position: relative;
}

.title {
  font-family: 'kt-typewriter', sans-serif;
  background: white;
  color: black;
  height: 21px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-left: 5px;
  width: 100%;
}

.news-container {
  margin-bottom: 50px;
}

.news-container, .news-item {
  height: 205px;
}

.news-body {
  max-width: 100%;
}

.news-body, .read-more {
  font-size: 12px;
  br {
    margin-bottom: 10px;
  }
}

.news-item {
  position: relative;
  padding-left: 3px;
  width: 534px;
  display: inline-block;
  * {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

.news-image {
  display: inline-block;
  vertical-align: top;
  width: 139px;
  max-height: 206px;
  img {
    width: 139px;
  }
}

.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: auto;
  a {
    display: inline !important;
  }
}
